@tailwind base;
@tailwind components;
@tailwind utilities;
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background: #0E0E0E;
  --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0E0E;
    --foreground: #FFFFFF;
  }
}

body {
  @apply font-dm-sans;
  color: var(--foreground);
  background: var(--background);
 
}

.background-gradient {
  background: linear-gradient( 135deg,
  #6b00f5, 
  #8836ff, 
  #ff4da6);
  background-size: cover; 
  
}


.socialPlatformBg{
  background-image: url("../assets/GradientsBg.jpg");
}

@media screen and (max-width:650px) {
  .socialPlatformBg{
    background-image: url("../assets/promo.svg");
  }
}